.singleCard {
    position: relative;
    /* background-color: bl; */
    border-radius: 6px;

}

.singleImg {
    width: 100%;
    height: 99%;
    margin: auto;
    display: block;
    border: 3px solid rgba(128, 0, 128, 0.616);
    border-radius: 6px;
}

.singleCard .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.singleCard .back {
    transform: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}