.awssld__content {
  background-color: white !important;
}

/* .awssld__container figure,
.awssld__content,
.awssld__box {
  height: 700px !important;
} */

.awssld__controls button{
    top: calc(40% - (0.5 * var(--control-button-height))) !important;
}