@tailwind base;
@tailwind components;
@tailwind utilities;

.title:hover {
    cursor: pointer;
}
input{
    @apply hover:outline-none
}
.card1::-webkit-scrollbar {
    display: none;
}
.primary-btn{
    @apply bg-cyan-500 rounded px-2 py-1 text-white;
}
.scroll{
    @apply h-screen overflow-y-scroll overflow-x-hidden card1
}
.res{
    @apply px-3 md:px-0
}
.vly{
    @apply md:border-r md:pr-2 border-black
}
.hlx{
    @apply h-[1px] bg-black my-5
}
.secondary-btn{
    @apply bg-transparent rounded px-2 py-1 text-cyan-500 border border-cyan-500;
}
.c-auto{
    @apply container mx-auto
}

/* user info styles  */
.info-h1{
    @apply flex items-center gap-2 md:text-xl
}


/* .light {
    background-color: white;
    color: #111;
}

.dark {
    background-color: #111;
    color: #bbb;
}
.theme {
    transition: 1s all ease;
} */